
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
li,a,button {
text-decoration: none;
font-size: 18px;
list-style: none;
color: #3C354F;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav ul {
    display: flex;
}
nav ul li {
    padding: 5px 15px;
    margin: auto;
}
.but{
    border: none;
    margin: 2px; ;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content:hover{
    background-image: url('images/Group 14.png');
}
.banner img{
    height: 600px;
    width: 600px;
}
.banner-content{
    width: 901px;
    height: 700px;

}
.first{
    display: flex;
}
.first-left{
    text-align: right;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.first img{
    width: 868px;
}
.sec-img {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}
.caption{
    display: flex;
    justify-content: space-between;
}
.second{
    text-align: center;
}
.third{
    display: flex;
    justify-content: space-between;
}
.big{
    position:relative;
    top: 0;
    left: 0;
}
.small{
    position: absolute;
    top: 400px;
    right: 500px;
    padding: 0;
}
.ele{
    background-image: url('images/Rectangle\ 11.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.twe{
    background-image: url('images/Rectangle\ 12.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.thi{
    background-image: url('images/Rectangle\ 13.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.fou{
    background-image: url('images/Rectangle\ 14.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.fif{
    background-image: url('images/Rectangle\ 15.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.six{
    background-image: url('images/Rectangle\ 16.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.sev{
    background-image: url('images/Rectangle\ 17.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.eig{
    background-image: url('images/Rectangle\ 18.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.nin{
    background-image: url('images/Rectangle\ 19.png');
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    margin: 2px;
    font-size: 15px;
    text-decoration: none;
    padding: 21px 60px;
    border: none;
    background-color: #FFF;
}
.fourth {
    margin-top: 100px;
    padding: 50px 10px;
    align-items: center;
.ele:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
.twe:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
.thi:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
.fou:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
.fif:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
.six:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
.sev:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
.eig:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
.nin:hover{
    border: 1px solid blue;
    border-radius: 48px;
}
@media screen (max-width:576px) {
    nav > div > ul
}
